/* Divs
=============================*/

.one {
  height: 200px;
  width: auto;
}

.two {
  height: 200px;
  width: auto;
  background-color: orange;
}

.three {
  height: 200px;
  width: auto;
  background-color: grey;
}

.four {
  height: 200px;
  width: auto;
  background-color: yellow;
}

.col-xs-3 {
  background-color: tomato;
  height: 200px;
}

.col-xs-9 {
  background-color: yellow;
  height: 200px;
}

.three-one {
  height: 100px;
  background-color: blue;
}

.three-two {
  height: 100px;
  background-color: orange;
}
