/* Body
=============================*/
* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

/* Divs
=============================*/
.painting {
  border: solid black 2px;
}


/* Block one
=============================*/

.one {
  height: auto;
  width: auto;
  border-bottom: solid black 2px;
}

.col-xs-9 {
  background-color: #62FFC5;
  height: 200px;
  border-left: solid black 2px;
}

/* Block two
=============================*/

.two {
  height: auto;
  width: auto;
  background-color: orange;
  border-bottom: solid black 2px;
}


/* Block three
=============================*/

.three {
  height: auto;
  width: auto;
  background-color: #03CDE8;
  border-bottom: solid black 2px;
}

.three-one {
  height: 100px;
  background-color: #FFD203;
  border-left: solid black 2px;
}

.three-two {
  height: 100px;
  background-color: #E86703;
  border-left: solid black 2px;
  border-top: solid black 2px;
}

/* Block four
=============================*/

.four {
  height: auto;
  width: auto;
  background-color: #BD10FF;
}

.col-xs-3 {
  background-color: #E8DFA5;
  height: 200px;
}


.ch-1 {
  height: 100px;
  background-color: #20FF47;
  border-right: solid black 2px;
}

.ch-2 {
  height: 100px;
  background-color: #E8DD03;
  border-right: solid black 2px;
}

.ch-3 {
  height: 100px;
  background-color: #FFD203;
  border-right: solid black 2px;
  border-top: solid black 2px;
}

.ch-4 {
  height: 100px;
  background-color: #B8FF10;
  border-right: solid black 2px;
  border-top: solid black 2px;
}


/* Hover States
=============================*/

.col-xs-9:hover {
  background-color: #ccc;
  height: 200px;
  border-left: solid black 2px;
}

.three:hover {
  height: auto;
  width: auto;
  background-color: #ccc;
  border-bottom: solid black 2px;
}


.four:hover {
  height: auto;
  width: auto;
  background-color: #ccc;
}
